:host.wcc-sign-up {
  display: flex;
  justify-content: center;
  margin: 100px 0px;

  .mat-form-field {
    width: 100%;
    min-width: 400px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .error-icon {
    position: relative;
    font-size: 1.3em;
    top: 2px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}
